<header class="dashboard-header">
  <div class="header-left">
    <a href="/home" class="header-icon-btn" title="Início">
      <i class="fa-solid fa-house"></i>
    </a>
  </div>

  <div class="header-logo">
    <span class="logo-leaf"><i class="fa-solid fa-leaf"></i></span>
    <h1>LifeStock</h1>
  </div>

  <div class="header-right">
    <% if (typeof usuario !== 'undefined' && usuario) { %>
      <div class="header-user">
        <div class="header-user-avatar">
          <i class="fa-solid fa-user"></i>
        </div>
        <span>
          <% if (usuario.perfil) { %>
            <%= usuario.perfil === 'ADMINISTRADOR' ? 'Administrador' : 'Funcionário' %>
          <% } %>
        </span>

        <% if (usuario.perfil === 'ADMINISTRADOR') { %>
          <a href="/usuarios/gerenciar" class="btn-editar-usuario">Gerenciar usuários</a>
        <% } %>
      </div>

      <a href="/usuarios/logout" class="header-icon-btn" title="Sair">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
    <% } else { %>
      <a href="/login" class="header-icon-btn" title="Login">
        <i class="fa-solid fa-right-to-bracket"></i>
      </a>
    <% } %>
  </div>
</header>
